* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkseagreen;
}

table {
    background-color: cadetblue;
    color: white;
    padding: 1em;
    margin-bottom: 0.5em;
    border: solid 0.2em black;
}

#container {
    position: relative;
    left: 29em;
}

h1 {
    text-align: center;
}